We used https://fred.stlouisfed.org/ to download Canada's economic data that might play a role in Real Estate trends, price levels etc...
One can also use https://tradingeconomics.com/canada/interest-rate.

In the folder "Canadian Economy Data", you will find csv containing monthly data about unemployment, Central Bank real interest rates, CPI(inflation), M1 money supply, CAD-USD exchange rates.

In [1]:
import pandas as pd

In [42]:
hpi_df = pd.read_csv(r"C:\Users\hp\Desktop\Projects Coding\Affinity_Propagation_Canada_Real_Estate_Market\Processed Data\cities_hpi_df.csv")
hpi_df = hpi_df.drop(columns=["Unnamed: 0"], axis = 1)

#If we don't want to maintain NAN values in our dataframe, hpi_df, many columns start from the top with NAN values let's check at which index the first float value is shown.
#We can find first index with float value by   hpu_df["HPI_sherbrooke_qc"].first_valid_index()
#Preview
hpi_df.head()

,REF_DATE,HPI_atlantic,HPI_nfland_labrador,HPI_charlottetown_pei,HPI_halifax_ns,HPI_stjohn_fredericton_moncton,HPI_quebec_qc,HPI_sherbrooke_qc,HPI_troisriv_qc,HPI_mtl_qc,...,HPI_london_ont,HPI_windsor_ont,HPI_sudbury_ont,HPI_prairie_region,HPI_winnipeg_manitoba,HPI_edmonton_alb,HPI_calgary_alb,HPI_victoria_bc,HPI_vancouver_bc,HPI_kelowna_bc
0,1981-01,NaN,37.5,NaN,NaN,61.4,34.9,NaN,NaN,30.0,...,27.0,64.9,54.6,NaN,29.3,36.5,27.8,206.8,96.1,NaN
1,1981-02,NaN,37.5,NaN,NaN,62.1,35.4,NaN,NaN,30.2,...,27.5,64.9,55.6,NaN,29.7,36.8,28.1,209.1,97.5,NaN
2,1981-03,NaN,37.5,NaN,NaN,62.1,35.4,NaN,NaN,30.5,...,28.2,64.1,55.6,NaN,30.3,36.8,28.6,210.6,97.5,NaN
3,1981-04,NaN,37.5,NaN,NaN,62.1,35.7,NaN,NaN,30.8,...,28.6,63.9,57.0,NaN,30.5,36.9,30.1,210.6,97.7,NaN
4,1981-05,NaN,37.7,NaN,NaN,63.3,36.1,NaN,NaN,31.1,...,28.6,63.9,57.0,NaN,31.1,38.2,30.1,212.4,97.7,NaN

In [43]:
#Unemployment dataframe
#We will drop all rows up to 1981-01-01

unemployment_df = pd.read_csv(r"C:\Users\hp\Desktop\Projects Coding\Affinity_Propagation_Canada_Real_Estate_Market\Canadian Economy Data\unemployment_LRUN64TTCAM156S.csv")
#
unemployment_df = unemployment_df.loc[(unemployment_df['DATE'] >= '1981-01-01' )]
#Renaming column for readable dataframe 
unemployment_df = unemployment_df.rename(columns={unemployment_df.columns[1]: 'unemployment_rate'})

#Let adjust the dataframe's DATE format to fit the YEAR-MONTH format in REF_DATE column in hp_df 
from datetime import datetime
unemployment_df['DATE'] = pd.to_datetime(unemployment_df['DATE']).dt.strftime('%Y-%m')    

#Resetting index without reassigning 
unemployment_df.reset_index(drop = True, inplace = True)
#Displaying dataframe with filtered date
unemployment_df.head()

      DATE  unemployment_rate
0  1981-01                7.4
1  1981-02                7.4
2  1981-03                7.3
3  1981-04                7.1
4  1981-05                7.2

In [44]:
#CPI Consumer Price Index All Items Dataframe
#We will drop all rows up to 1981-01-01
consumer_price_index_df = pd.read_csv(r"C:\Users\hp\Desktop\Projects Coding\Affinity_Propagation_Canada_Real_Estate_Market\Canadian Economy Data\consumer_price_index_all_items_Canada_CPALTT01CAM659N.csv")

consumer_price_index_df = consumer_price_index_df.loc[(consumer_price_index_df['DATE'] >= '1981-01-01' )]

#Renaming column for readable dataframe 
consumer_price_index_df = consumer_price_index_df.rename(columns={consumer_price_index_df.columns[1]: 'CPI_inflation'})

#Let adjust the dataframe's DATE format to fit the YEAR-MONTH format in REF_DATE column in hp_df 
consumer_price_index_df['DATE'] = pd.to_datetime(consumer_price_index_df['DATE']).dt.strftime('%Y-%m') 

#Resetting index without reassigning 
consumer_price_index_df.reset_index(drop = True, inplace = True)
#Displaying dataframe with filtered date
consumer_price_index_df.head()

      DATE  CPI_inflation
0  1981-01      12.200957
1  1981-02      12.056738
2  1981-03      12.676056
3  1981-04      12.587413
4  1981-05      12.211982

In [45]:
#CAD-USD Rate dataframe
#We will drop all rows up to 1981-01-01
cadusd_rate_df = pd.read_csv(r"C:\Users\hp\Desktop\Projects Coding\Affinity_Propagation_Canada_Real_Estate_Market\Canadian Economy Data\cad_usd_Spot_Rate.csv")

cadusd_rate_df = cadusd_rate_df.loc[(cadusd_rate_df['DATE'] >= '1981-01-01' )]

#Renaming column for readable dataframe 
cadusd_rate_df = cadusd_rate_df.rename(columns={cadusd_rate_df.columns[1]: 'CAD-USD'})

#Let adjust the dataframe's DATE format to fit the YEAR-MONTH format in REF_DATE column in hp_df 
cadusd_rate_df['DATE'] = pd.to_datetime(cadusd_rate_df['DATE']).dt.strftime('%Y-%m') 

#Resetting index without reassigning 
cadusd_rate_df.reset_index(drop = True, inplace = True)
#Displaying dataframe with filtered date
cadusd_rate_df.head()

      DATE  CAD-USD
0  1981-01   1.1909
1  1981-02   1.1984
2  1981-03   1.1914
3  1981-04   1.1910
4  1981-05   1.2010

In [46]:
#Interest Rate Central Bank dataframe
#We will drop all rows up to 1981-01-01
central_bank_interest_rate_df = pd.read_csv(r"C:\Users\hp\Desktop\Projects Coding\Affinity_Propagation_Canada_Real_Estate_Market\Canadian Economy Data\interest_rate_Central_Bank_CanadaIRSTCB01CAM156N.csv")

central_bank_interest_rate_df = central_bank_interest_rate_df.loc[(central_bank_interest_rate_df['DATE'] >= '1981-01-01' )]

#Renaming column for readable dataframe 
central_bank_interest_rate_df = central_bank_interest_rate_df.rename(columns={central_bank_interest_rate_df.columns[1]: 'Interest_Rate_Central_Bank'})


#Let adjust the dataframe's DATE format to fit the YEAR-MONTH format in REF_DATE column in hp_df 
central_bank_interest_rate_df['DATE'] = pd.to_datetime(central_bank_interest_rate_df['DATE']).dt.strftime('%Y-%m') 


#Resetting index without reassigning 
central_bank_interest_rate_df.reset_index(drop = True, inplace = True)
#Displaying dataframe with filtered date
central_bank_interest_rate_df.tail()

        DATE  Interest_Rate_Central_Bank
495  2022-04                        1.25
496  2022-05                        1.25
497  2022-06                        1.75
498  2022-07                        2.75
499  2022-08                        2.75

In [ ]:
"""
With the economical dataframes ready, central_bank_interest_rate_df, cadusd_rate_df, consumer_price_index_df and unemployment_rate_df, let's merge their data 
on DATE column with cities_hpi_df before our Correlation Matrix!
"""